@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #f1f8e9 0%, #e8f5e9 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  font-family: "Inter", sans-serif;
  color: #374151;
}

h1,
h2 {
  font-family: "Fraunces", serif;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 25px;
}
.logo-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.logo-box h1{
  font-size: 1.5rem;
}


.signup-container {
  width: 100%;
  max-width: 420px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.signup-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.text-section{
  margin: 10px 10px 10px 0px;
}
.text-section h1{
  margin-bottom: 10px;
}
.text-section p{
  color: #6b7280;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input,
button {
  margin-top: 18px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: border 0.2s ease;
}

input:focus {
  border-color: #2e7d32;
}

button {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #2e7d32, #81c784);
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #6b7280;
  font-size: 0.95rem;
  margin-top: 20px;
  transition: color 0.3s ease;
}

a:hover {
  color: #1b5e20;
  text-decoration: underline;
}
